.form-deposit { }
.form-deposit label {display: block;  margin: 20px 5px ; }

.selected {font-weight: bold;}
.navbar {display: block; clear: both;}
.navbar li {float: left; list-style: none; padding: 5px 10px;}

